@import 'mixin';

.header{
    &--is-hidden{
        background-color: red;
        transition: background-color .5 ease;
    
    }
    &__menu{
        background-color: transparentize($color: blue, $amount: 0.9);
        height: 60px;
        width: 100%;
        position: fixed;

        

        &__list {
            display: flex;
            justify-content: end;
            list-style: none;

            &__item{
                text-align: center;
                margin-right: 5px;
                
                button{
                    @include Botao();

                    a {
                        color: #fff;
                        font-family: sans-serif;
                    }
                    

                }
                

            }
        }
    }

    
    
}

.header__logo{
    width: 100%;
    background-repeat: no-repeat;
}